{% extends 'base.html' %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

<div>
	<div class="container">

		<h1>HIGH SCORES</h1><br>
		<center>
		<div class="bulletinBoard">
			<div id="scores"></div>
			<script type="text/javascript">
				function requestScore() {
					$.get("/leaderboard", function(data){
						console.log(data);
						let temp = JSON.parse(data);
						let txt = "<ol>";
						for (var i = 0; i < temp.length; i++){
							let tmp = $($.parseHTML(temp[i][0]+": "+temp[i][1])).text(); // NO HTML injections
							txt += "<li>"+tmp+"</li>";
						}
						txt += "</ol>";
						$("#scores").html(txt);
					});
				}
				requestScore();
				setInterval(requestScore, 5000);
			</script>
		</div>
		</center>

	</div>
</div>
{% endblock %}
